<?php
set_time_limit(200);
$targetPort = (int) (__APP_PORT__);
$method = isset($_SERVER['REQUEST_METHOD']) ? $_SERVER['REQUEST_METHOD'] : 'GET';
$uri = isset($_SERVER['REQUEST_URI']) ? $_SERVER['REQUEST_URI'] : '/';
$url = 'http://127.0.0.1:' . $targetPort . $uri;

$skipReq = array('host' => 1, 'connection' => 1, 'content-length' => 1, 'accept-encoding' => 1);
$headers = array();
foreach ($_SERVER as $key => $value) {
  if (strpos($key, 'HTTP_') !== 0) {
    continue;
  }
  $name = strtolower(str_replace('_', '-', substr($key, 5)));
  if (isset($skipReq[$name])) {
    continue;
  }
  $headers[] = $name . ': ' . $value;
}
if (!empty($_SERVER['CONTENT_TYPE'])) {
  $headers[] = 'content-type: ' . $_SERVER['CONTENT_TYPE'];
}

$body = file_get_contents('php://input');
$ch = curl_init($url);
curl_setopt($ch, CURLOPT_CUSTOMREQUEST, $method === 'HEAD' ? 'GET' : $method);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch, CURLOPT_HEADER, true);
curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);
curl_setopt($ch, CURLOPT_TIMEOUT, 200);
curl_setopt($ch, CURLOPT_CONNECTTIMEOUT, 10);
curl_setopt($ch, CURLOPT_FOLLOWLOCATION, false);
if ($body !== false && $body !== '' && $method !== 'GET' && $method !== 'HEAD') {
  curl_setopt($ch, CURLOPT_POSTFIELDS, $body);
}

$resp = curl_exec($ch);
if ($resp === false) {
  http_response_code(502);
  header('Content-Type: text/plain; charset=utf-8');
  echo 'upstream down';
  exit;
}

$size = (int) curl_getinfo($ch, CURLINFO_HEADER_SIZE);
$code = (int) curl_getinfo($ch, CURLINFO_HTTP_CODE);
http_response_code($code > 0 ? $code : 502);

$skipRes = array(
  'connection' => 1,
  'keep-alive' => 1,
  'transfer-encoding' => 1,
  'upgrade' => 1,
);
foreach (preg_split("/\r\n|\n|\r/", substr($resp, 0, $size)) as $line) {
  if ($line === '' || stripos($line, 'HTTP/') === 0) {
    continue;
  }
  $pos = strpos($line, ':');
  if ($pos === false) {
    continue;
  }
  $hname = strtolower(substr($line, 0, $pos));
  if (isset($skipRes[$hname])) {
    continue;
  }
  header($line, false);
}

if ($method !== 'HEAD') {
  echo substr($resp, $size);
}
